<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="portfolio.one.member.dao.MemberMapper">

    <select id="checkMember" resultType="int" parameterType="portfolio.one.member.service.MemberVO">
        SELECT count(*)
          FROM USER
         WHERE loginId = #{loginId}
    </select>

    <select id="findAll" resultType="portfolio.one.member.service.MemberVO">
        SELECT * FROM USER
    </select>

    <select id="findById" resultType="portfolio.one.member.service.MemberVO">
        SELECT *
          FROM USER
         WHERE id = #{id}
    </select>

    <insert id="save">
        insert into user(id, loginId, name, password) values (#{id}, #{loginId}, #{name}, #{password})
    </insert>

</mapper>